h1 {
  font-family: helvetica;
  font-weight: 200;
}
.app-content {
  width: 600px;
  margin-top: 50px;
  padding: 20px;

}

.timer {
  position: relative;
}
.control-row {
  margin-bottom: 8px
}
.chat-container {
  width: 600px;
  margin-top: 20px;
}

@media (max-width: 650px) {
  .app-content, .chat-container {
    margin: 20px 20px 0;
    width: auto;
  }
}

.admin {
  padding: 5px;
}

.btn-admin {
  opacity: 0.2;
}

.message-list {
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
}

.chatbar.row.center-block {
  margin: 5px;
}
.chat-input-container {
  padding: 3px;
}

.message-username, .chatbar-username {
  font-weight: bold;
}

.notification-content {
    font-style: italic;
}

.user-purple {
  color: #800080;
}

.user-orange {
  color: #ffa500;
}
.user-green {
  color: #00FF00;
}

.user-blue {
  color: #0000ff;
}
